 .page-1{
        width: 400px;
        height: 850px;
        background-color: #E30B5D;
        border-radius: 15px;
    }
    .page-inside{
        width: 400px;
        height: 200px;
        border-radius: 15px 15px 0 0;
        background-color: #F6358A;
        margin: 0;
    }
  .r{
    margin-top: -100px;
    width: 180px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 10px;                 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(31, 38, 135, 0.1); 
  }
  .img-profile{
            border-radius: 50px;
            width: 135px;
            height: 135px;
            margin-top: 15px;
  }
  .song-name{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255,.7);
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
}
.title{
     color: rgba(255, 255, 255, 0.5);
}
.player{
    margin-top: 100px;
}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    background: none;
    margin-left: 50px;
}
.btn:hover{
    background-color: #810541;
}
.music-range{
    accent-color: #810541;
    width:400px;
    height: 100px;
}
.bt{
    margin: 0;
    padding: 0;
    width: 40px;
    border-radius: 40px;
}
.top{
    margin-left: 90px;
    margin-right: 80px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.page-outside{
        width: 400px;
        height: 150px;
        border-radius: 0 0 15px 15px;
        background-color: #F6358A;
        margin: 0;
}
.rec{
    
    margin-left: 30px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0,0.65);
    margin-bottom: 10px;
}
.rec-box{
    width: 360px;
    height: 100px;
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 0;
}
.rec-bt{
    width: 40px;
    margin-left: 70px;
}
.bt:hover{
    background-color:#810541 ;
}